.my_nav{
    background-color: #212529;
    height: 70px;
}

.my_left-nav{
    background-color: yellow;
}


.my_right-nav{
    background-color:blueviolet;
}

.my_start-bootstrap{
    background-color: green;
    color: black;
   
    padding-top: 90px;
}

.my_start-bootstrap img{
    width: 150px;
    height: auto;
}


.box  img{
    width:100%;
    height: auto;
}

.my_footer-bootstrap{
    background-color: brown;
    height: 90px;
}