.my_nav{
    background-color: red;
}

.my_left-nav{
    background-color: yellow;
}


.my_right-nav{
    background-color: yellow;
}

.my_start-bootstrap{
    background-color: green;
    color: black;
    height: 350px;
}

.my_start-bootstrap img{
    width: 150px;
    height: auto;
}



.my_img-block img{
    width: 250px;
    height: auto;
}

.my_footer-bootstrap{
    background-color: brown;
}