.my_nav{
    background-color: red;
}

.my_left-nav{
    background-color: yellow;
}


.my_right-nav{
    background-color: yellow;
}

.my_start-bootstrap{
    background-color: green;
    color: black;
    height: 200px;
}

.my_img-block{
    background-color: blue;
}